<html>
<head>
<title> 404 </title>

<! -- spiders stay out -->
<meta name="robots" content="noindex" />
<meta name="robots" content="noarchive" />

<style>
  body {
     font-family: "Lucida Grande",Arial,Sans-serif;
     line-height: .35;
     color: #333333;
  }  
  h2 {
     letter-spacing: 0.15em;
     color: #BBBBBB;
  }
  h1 {
     font-size: 200px;
     letter-spacing: -15;
  }
  .container {
   padding: 50px 50px 0px 50px;
  }
</style>

</head>
<body>

<div class = "container">
  <h1> Big </h1>
  <h1> Whoop ! </h1>
  <h2> 404 - MR. COLUMBUS </h2>
</div>

</body>
</html>
