body {
	font-family:georgia,"times new roman",times,serif;
	font-size:18px;
	margin:0;
}
a {
	color:#227CE8;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}

.index a {
	text-decoration:none;
	font-size:16px;
}
p code {
	background-color:#F9F9F9;
	border:1px solid #EEEEEE;
	font-size:12px;
	padding:2px 3px;
}

.content {
	margin-left:200px;
	margin-right:200px;
}

.index {
	margin-top:10px;
}

.index ul {
	margin:0;
	padding:0;
}

.index li {
	border-bottom:1px solid #EEEEEE;
	font-size:14px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:5px 10px;
}

.index li span {
	float:right;
}
h1, h2, h3, h4 {
	color:#555555;
	font-weight:normal;
}
h1 a, h2 a, h3 a, h4 a {
	color:#555555;
	text-decoration:none;
}
h1 {
	border-bottom:1px solid #EEEEEE;
	font-size:42px;
	margin-bottom:0.25em;
}

#header {
        text-align:center;
        margin-top:20px;
}

#header a {
	color:#555555;
	text-decoration:none;
}
#header a:hover {
	color:#111111;
}
#post {
	margin-bottom:8em;
}
#post p {
	font-size:16px;
	line-height:1.5em;
}
#post .authoring {
	color:#777777;
	font-size:13px;
	text-align: center;
}
#post .authoring a {
	border-bottom:1px solid #CCCCCC;
	color:#777777;
	padding:0;
	text-decoration:none;
}
#post .authoring a:hover {
	border-color:#555555;
	color:#555555;
}
#post a {
	padding:0 3px;
}
#foots {
	background-color:#EEEEEE;
	color:#999999;
	font-size:14px;
	margin-top:3em;
	padding:10px 15%;
	text-shadow:1px 1px 0 #FFFFFF;
}
#foots a {
	padding:0 2px;
}

#post pre {
	background:none repeat scroll 0 0 #000000;
	color:#FFFFFF;
	font-size:14px;
	padding:10px;
}

#post h1 {
        text-align:center;
}

#post .quote {
	font-size:16px;
	color:#999999;
	max-width:700px;
	border-left:2px solid #CCCCCC;
	margin-left:20px;
	padding-left:10px;
	line-height:140%;
}
